*{
    margin: 0;
    padding: 0;
    font-family:'poppins', sans-serif;
    box-sizing: border-box;
    color: var(--color-gray);
}



:root{
    --body-color: #efefef;
    --nav-color: #1876f2;
    --bg-color: #fff;
    --color-gray:#626262;
}


.dark-mode{
    --body-color: #0a0a0a;
    --nav-color: #000;
    --bg-color: #000;
}

body{
    background: var(--body-color);
    transition: background 0.3s;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--nav-color);
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo{
    width: 160px;
    margin-right: 45px;
    color: white;
}


.nav-left, .nav-right{
    display: flex;
    align-items: center;
}

.nav-left ul li{
    list-style:none;
    display: inline-block;
}

.nav-left ul li img{
    width: 28px;
    margin: 0 15px;

}

.nav-user-icon{
    margin-left: 30px;
    cursor: pointer;
}

.nav-user-icon img{
    width: 40px;
    border-radius: 50%;
}

.online{
    position: relative;
}
.online:after{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #41db51;
    position:absolute;
    top:0;
    right:0;
}

.src-box{
    background: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    padding: 0 15px;
}

.src-box img{
    margin-top: 4px;
    height: 30px;
    width: 18px;
}

.src-box input{
    width: 95%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}


.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 2%;
}

.left-sidebar{
    /* background: #cbdffa; */
    flex-basis: 20%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    /* padding: 20px;
    border-radius: 4px;
    background: white; */

}
.right-sidebar{
    background: var(--bg-color);
    flex-basis: 20%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    padding: 20px;
    border-radius: 4px;

}

.right-sidebar h4{
    font-weight: 600;
    font-size: 16px;
}

.main-content{
     flex-basis: 50%;
}

.imp-links a, .shortcut-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #636363;
    width: fit-content;
}

.imp-links a img{
    width: 25px;
    margin-right: 15px;
}

.imp-links a:last-child{
    color: #1876f2;
}

.imp-links{
    border-bottom: 1px solid #ccc;
}

.shortcut-links a img{
    width: 40px;
    border-radius: 4px;
    margin-right: 15px;
}

.shortcut-links p{
    margin: 25px 0;
    color: #626262;
    font-weight: 500;
}

.sidebar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}

.sidebar-title h4{
    font-weight: 600;
    font-size: 16px;
}

.sidebar-title a{
    text-decoration: none;
    color: #1876f2;
    font-size: 12px;
}

.event{
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
    color: var(--color-gray);
}


.left-event{
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0, 0.1);
}

.left-event-background{
    background: #181818;
}

.event p{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
}

.event a{
    font-size: 12px;
    text-decoration: none;
    color: #1876f2;
}
.left-event span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #1876f2;
    color: white;
    font-size: 10px;
    padding: 4px 0;
}

.event p i{
    padding-right: 5px;
}

.adds{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
}

.online-list{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.online-list .online img{
    width: 40px;
    border-radius: 50%;
}

.online-list .online{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.online-list .online::after{
    top: unset;
    bottom: 5px;
}


.online-list p{
    color: var(--color-gray);
}

.story-gallery{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.story{
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(static/images/status-1.png);
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}

.story img{
    /* align-items: center; */
    position: absolute;
    width: 45px;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    border: 3px solid #1876f2 ;
}

.story p{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: white;
}

.story-1{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(static/images/status-2.png);

}
.story-2{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(static/images/status-3.png);
}
.story-3{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(static/images/status-4.png);
}
.story-4{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(static/images/status-5.png);
}

.story.user-story img{
    top: unset;
    left: 35%;
    bottom: 40px;
    transform: translateX(-50);
    border: 0;
    width: 35px;
}

.write-post-container{
    width: 100%;
    background: var(--bg-color);
    border-radius: 6px;
    /* padding: 20px; */
    columns: #626262;
}

.user-profile{
    display: flex;
    align-items: center;
}

.user-profile img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-profile p{
    margin-bottom: -5px;
    font-weight: 500;
    color: #626262;
    padding-bottom: 5px;
}

.user-profile small{
    font-size: 12px;
}

.post-container{
    padding-left: 55px;
    padding-top: 20px;
}

.post-container textarea{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
}

.add-post-links{
    display: flex;
    margin-top: 10px;
}

.add-post-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 30px;
    font-size: 13px;
}

.add-post-links a img{
    width: 20px;
    margin-right: 10px;
}

.post-container{
    width: 100%;
    background:var(--bg-color);
    border-radius: 6px;
    padding: 20px;
    color: black;
    margin: 20px 0; 
}

.post-container span{
    font-size: 13px;
    color: #9a9a9a;
}

.post-text{
    color: #9a9a9a;
    margin: 15px 0;
    font-size: 15px;
}

.post-img{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
}

.post-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.activity-icon div img{
    width: 18px;
    margin-right: 10px;
}

.activity-icon div{
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
}

.post-profile-icon{
    display: flex;
    align-items: center;
}

.post-profile-icon img{
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
}


.load-more-btn{
    display: block;
    margin: auto;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #9a9a9a;
    color: #626262;
    background: transparent;
    border-radius: 4px;
}

.footer{
    text-align: center;
    color: #9a9a9a;
    padding: 10px 0 20px;
    font-size: 13px;
}

.settings-menu{
    position: absolute;
    width: 90%;
    max-width: 350px;
    background: var(--bg-color);
    box-shadow: 0 0 10px rgba(0,0,0, 0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 108%;
    right: 5%;
    max-height: 0;
    transition: max-height 0.3s;
}

.settings-menu-height{
    max-height: 450px;
}

.user-profile a{
    font-size: 12px;
    color: #1876f2;
    text-decoration: none;
}

.setting-menu-inner{
    padding: 20px;
}

.settings-menu hr{
    border: 0;
    height: 1px;
    background-color: #9a9a9a;
    margin: 15px 0;
}

.setting-links{
    display: flex;
    align-items: center;
    margin: 15px 0;

}

.setting-links .setting-img{
    margin: 10px;
    width: 38px;
    border-radius: 50%;
}

.setting-links a{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #626262;
}

#dark-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    background:#ccc;
    width: 45px;
    border-radius: 15px;
    padding: 2px 3px;
    cursor: pointer;
    display: flex;
    transition: padding-left 0.5s, background 0.5s;

}

#dark-btn span{
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
}

#dark-btn.dark-btn-on{
    padding-left: 25px;
    background: #181818;
}